body {
  overflow-x: hidden;
}

.navbar-top {
  background-color: #f72210;
  padding: 0;
}

.date {
  font-family: "Roboto Condensed",sans-serif;
}

.navbar-brand svg {
  height: 20px;
  width: 132px;
}

.subscribe-btn {
  color: #f72210;
}

.subscribe-btn:hover {
  color: #f72210;
}

.menu-btn a[aria-expanded="false"] {
  height: 50px;
  width: 74px;
  background: url("../images/hamburger_menu.svg") center/75% 75% no-repeat;
}

.menu-btn a[aria-expanded="true"] {
  height: 50px;
  width: 74px;
  background: url("../images/close.svg") center/50% 50% no-repeat border-box;
}

/* .navbar-nav > * {
  border: 1px black solid;
} */

#navbar-bottom {
  position: absolute;
  right: 0;
}

.form-inline .form-control {
  /* display: inline-block; */
  width: 175px;

  padding: 0;
  /* vertical-align: middle; */
}

.navbar-top-btn-fs {
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 6px 3px;
}

.test {
  background: yellowgreen;
}

.bd-black {
  border: 1px black solid;
}

.bg-blue {
  background: blue;
}

@media only screen and (min-width: 480px) {
  .navbar-top-btn-fs {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-top {
    background-color: #f72210;
    padding: 20px 10px 15px;
  }

  .navbar-brand svg {
    height: 60px;
    width: 396px;
  }

  #navbar-bottom {
    position: relative;

  }

  .form-inline .form-control {
    /* display: inline-block; */
    width: 60px;
    height: 54px;
    padding: 0;
    font-size: 16px;
    /* vertical-align: middle; */
  }
}